<!DOCTYPE html>
<html lang="en">
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1>  Howdy, Partner. <small> Let's start linking. </small>  </h1>
<h3> <font color="CornflowerBlue">Here, you can link a number of links to your NFC card </font><%= image_tag("glyphicons-74-wifi.png",alt:"blah")%> </h3>

<p>


<a href="/nfc_urls/chooser" class="btn btn-default">Let's Goooooo!</a> </p>