<%= form_for(@nfc_url, url: new_nfc_url_path, method: :get) do |f| %>



<div class = "field">
<%= f.label "I want my card to go to many links based on..."%><br>  

  
 <select name = "behaviour">
    <option value = ""> Please select </option>
    <option value = "weather"> Weather </option>
    <option value = "random"> Random </option>
    <option value = "geo"> Geographic Location </option>
  </select>
  

  </div>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
