<h1>New Url</h1>

<%= form_for(@nfc_url, nfc_url: choose_nfc_urls_path) do |f| %>

	<div class = "field">
		<%= f.label "I want my card to go to many links based on..."%><br>  

		 <select name = "behaviour">
		    <option value = ""> Please select </option>
		    <option value = "weather"> Weather </option>
		    <option value = "random"> Random </option>
		    <option value = "geo"> Geographic Location </option>
		 </select>
  	</div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', nfc_urls_path %>
