<!DOCTYPE html>
<html>
<head>
  <title>Nfccard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="main-content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

<%- if @lat_lng == nil %> <!-- changed from .emptyu?-->
  <script>
   getGeoLocation();
  </script>
<%- end %>

  </body>
</html>
